<%= form_tag :action => 'action_ask' do -%>
	<p>Please choose your action:</p>
	<% @state.model.actions.each_with_index do |action, i| -%>
		<p>
			<%= radio_button_tag 'action_chosen', i %>
			<%= label_tag "action_chosen_#{i}", action.human_name.capitalize %>
		</p>
	<% end -%>
	<p>
		<%= submit_tag 'Choose' %>
	</p>
<% end -%>
