<%= form_tag :action => 'ask_place' do -%>
	<p>Where do you want to go?</p>
	<% 4.times do |i| -%>
		<% @state.model.places.keys.each_with_index do |place, index| -%>
			<p>
				<%= radio_button_tag 'place', (i * @state.model.places.size + index).to_s %>
				<%= label_tag "place_#{i * @state.model.places.size + index}", place.human_name.capitalize %>
			</p>
		<% end -%>
	<% end -%>
	<p>
		<%= submit_tag 'Go' %>
	</p>
<% end -%>
