<%= form_tag :action => 'ask_essay' do -%>
	<p>
		<%= label_tag 'essay', 'To be allowed to give up, you need to write an essay about the reasons that make you think this game is too long, or that you have more interesting hobbies, your relationship with games, and with this game in particular, your reflexions about life, the universe, and everything.' %>
	</p>
	<p>
		<%= text_area_tag 'essay' %>
	</p>
	<p>
		<%= submit_tag 'Answer' %>
	</p>
<% end -%>
