<%= form_tag :action => 'ask_riddle' do -%>
	<p>
		<%= label_tag 'riddle', 'What is tiny and brown?' %>
	</p>
	<p>
		<%= text_field_tag 'riddle' %>
	</p>
	<p>
		<%= submit_tag 'Answer' %>
	</p>
<% end -%>
