<p>You need to choose which squares you want to dig. The first <%= @state.args[0].size %> squares around you have automatically been selected because you are required to dig them. You cannot choose a square that is at a distance greater than <%= @state.args[2] %> from you.</p>
<p>Select <%= @state.args[1] %> squares to dig.<p>
<%= form_tag :action => 'ask_squares_to_dig' do -%>
	<table style='border: 1px solid black'>
		<% 1.upto @state.model.board.line_nb do |row| -%>
			<tr>
				<% 1.upto @state.model.board.column_nb do |column| -%>
					<td style='border: 1px solid black'>
						<% checked = (not (@state.args[0].index [row, column]).nil?) -%>
						<%= check_box_tag 'squares_to_dig[]', "#{row} #{column}", checked, :disabled => checked %>
					</td>
				<% end -%>
			</tr>
		<% end -%>
	</table>
	<p>
		<%= submit_tag 'OK' %>
	</p>
<% end -%>
