<%= form_tag :action => 'ask_slaves_to_buy' do -%>
	<p>
		<%= label_tag 'slaves_to_buy', 'How many slaves do you want to buy?' %>
	</p>
	<p>
		<%= text_field_tag 'slaves_to_buy' %>
	</p>
	<p>
		<%= submit_tag 'Answer' %>
	</p>
<% end -%>
