<%= form_tag :action => 'ask_slaves_to_sell' do -%>
	<p>
		<%= label_tag 'slaves_to_sell', 'How many slaves do you want to sell?' %>
	</p>
	<p>
		<%= text_field_tag 'slaves_to_sell' %>
	</p>
	<p>
		<%= submit_tag 'Answer' %>
	</p>
<% end -%>
