<table style='border: 1px solid black'>
	<% board.each_line do |line| -%>
		<tr>
			<% line.each do |elts| -%>
				<td style='border: 1px solid black; height: 2em; width: 4em'>
					<% if elts.dug? -%>
						X
					<% end -%>
					<% elts.each do |elt| -%>
						<% begin -%>
							<%= render :partial => 'board/' + (elt.game_class.name.split '::').last.underscore %>
						<% rescue ActionView::MissingTemplate -%>
						<% end -%>
					<% end -%>
				</td>
			<% end -%>
		</tr>
	<% end -%>
</table>
