<p>The dice for the move direction is <%= @state.args[0] %>.</p>
<% if (@state.model.game_class.const_get 'DIRECTION').has_key? @state.args[0] -%>
	<p>The direction of the move is to the <%= (@state.model.game_class.const_get 'DIRECTION')[@state.args[0]]%>.</p>
<% else -%>
	<p>Special rules will apply.</p>
<% end -%>
<%= form_tag :action => 'nod' do -%>
	<p>
		<%= submit_tag 'OK' %>
	</p>
<% end -%>
