<p>Congratulation! You just received <%= @state.args[0] %> piece of bread and <%= @state.args[1] %> onions from the abundance horn!</p>
<%= form_tag :action => 'nod' do -%>
	<p>
		<%= submit_tag 'OK' %>
	</p>
<% end -%>
