<script type="text/javascript" charset="utf-8">
	var jug = new Juggernaut(<%= juggernaut_js_options %>);
	jug.subscribe("<%= "/game/#{@id}/#{@player}" %>", function(data){
		location.reload(true);
	});
</script>
