<p>The dice for the direction of the north is <%= @state.args[0] %>.</p>
<% if (@state.model.game_class.const_get 'NORTH').has_key? @state.args[0] -%>
	<p>
		The north is
		<% case (@state.model.game_class.const_get 'NORTH')[@state.args[0]] -%>
		<% when :front -%>
			in front of you.
		<% when :behind -%>
			behind you.
		<% when :left, :right -%>
			to your <%= (@state.model.game_class.const_get 'NORTH')[@state.args[0]] %>
		<% end -%>
	</p>
<% else -%>
	<p>Special rules will apply.</p>
<% end -%>
<%= form_tag :action => 'nod' do -%>
	<p>
		<%= submit_tag 'OK' %>
	</p>
<% end -%>
