<div>
	<p><%= player.name %>, it's your turn!</p>
	<ul>
		<li>Money:
			<ul>
				<li>Bread: <%= player.money[0] %></li>
				<li>Onion: <%= player.money[1] %></li>
			</ul>
		</li>
		<li>Slaves:
			<ul>
				<li>Healthy: <%= player.slaves[0] %></li>
				<li>Ill: <%= player.slaves[1] %></li>
			</ul>
		</li>
		<li>Week day: <%= player.week_day %></li>
		<% if player.silenced > 0 -%>
			<li>Your vow of silence ends in <%= player.silenced %> turns<li>
		<% elsif player.silenced == 0 -%>
			<li>Your vow of silence just ended</li>
		<% end -%>
	</ul>
</div>
