<p>You do not have enough slaves to sell, thus you have to pay a penalty of <%= @state.args[0][0] %> piece of bread and <%= @state.args[0][1] %> onions.</p>
<%= form_tag :action => 'nod' do -%>
	<p>
		<%= submit_tag 'OK' %>
	</p>
<% end -%>
