<p>Here is a tip from the old woman pointed by the old man of the empty town: “the Grail is around <%= @state.args[0] %>, <%= @state.args[1] %>”.
<%= form_tag :action => 'nod' do -%>
	<p>
		<%= submit_tag 'OK' %>
	</p>
<% end -%>
