<p><%= @state.args[0].human_name %> took <%= @state.args[1] %> healthy slaves and <%= @state.args[2] %> ill slaves from you by shoplifting you while going away.</p>
<%= form_tag :action => 'nod' do -%>
	<p>
		<%= submit_tag 'OK' %>
	</p>
<% end -%>
