<p>You took <%= @state.args[1] %> healthy slaves and <%= @state.args[2] %> ill slaves from <%= @state.args[0].human_name %> by shoplifting him while going away.</p>
<%= form_tag :action => 'nod' do -%>
	<p>
		<%= submit_tag 'OK' %>
	</p>
<% end -%>
