<p>In this old town, you meet an old man who directs you to an old woman. This old woman sickens all your <%= @state.args[0] %> healthy slaves!</p>
<%= form_tag :action => 'nod' do -%>
	<p>
		<%= submit_tag 'OK' %>
	</p>
<% end -%>
