<p>You've just arrived at the tavern. You stop by to eat something, take a room, and stay <%= @state.args[0] %> turns.</p>
<%= form_tag :action => 'nod' do -%>
	<p>
		<%= submit_tag 'OK' %>
	</p>
<% end -%>
