<p>You meet sir Arthur inside Kaamelott. He explains to you that knights are not allowed to use slaves when seeking the Holy Grail, and frees all pour slaves!</p>
<%= form_tag :action => 'nod' do -%>
	<p>
		<%= submit_tag 'OK' %>
	</p>
<% end -%>
