<p>The sloubi game is on!</p>
<p>Your sloubi score is <%= @state.args[0] %>.</p>

<script type='text/javascript'>
	function sloubi_wav_start()
	{
		var sloubi_wav = document.getElementById('sloubi_wav');
		sloubi_wav.autoplay = true;
		sloubi_wav.play();
	}
	function sloubi_wav_next()
	{
		var sloubi_tag = document.getElementById('sloubi');
		var sloubi_i = parseInt(sloubi_tag.value);
		if (sloubi_i >= 116)
		{
			return;
		}
		var sloubi_wav = document.getElementById('sloubi_wav');
		sloubi_tag.value = sloubi_i + 1;
		sloubi_wav.src = "<%= url_for :controller => 'sloubi', :id => nil %>/" + sloubi_tag.value;
	}
</script>

<audio src="<%= url_for :controller => 'sloubi', :id => 1 %>" id='sloubi_wav' onended='sloubi_wav_next();'></audio>

<p><button type='button' onclick='sloubi_wav_start()'>Start singing sloubi</button></p>

<%= form_tag :action => 'sloubi' do -%>
	<%= hidden_field_tag 'sloubi', 1 %>
	<p>
		<%= submit_tag 'Sloubi!' %>
	</p>
<% end -%>
