<p>You cannot select the following squares because they are at a distance greater than <%= @state.args[0] %> from you:</p>
<p><ul>
	<% @state.args[1].each do |square| -%>
		<li><%= square[0] %> <%= square[1] %>
	<% end %>
</p></ul>
<%= form_tag :action => 'nod' do -%>
	<p>
		<%= submit_tag 'OK' %>
	</p>
<% end -%>
