<!DOCTYPE html>
<html>
	<head>
		<title>QAPK: The Game</title>
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'application' %>
		<%= juggernaut_include_tag %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<%= yield %>
		<p><%= link_to 'Rules', "#{controller.config.relative_url_root}/rules/rules_fr.pdf" %></p>
	</body>
</html>
