<h1>Create a new game</h1>
<%= form_tag :action => 'create' do -%>
	<p>
		<%= label_tag 'creator', 'Your pseudonym:' %>
		<%= text_field_tag 'creator' %>
	</p>
	<p>
		Which character do you want to play?
		<p>
			<%= radio_button_tag 'player', 'perceval', :checked => true %>
			<%= label_tag 'player_perceval', 'Perceval' %>
		</p>
		<p>
			<%= radio_button_tag 'player', 'karadoc' %>
			<%= label_tag 'player_karadoc', 'Karadoc' %>
		</p>
	</p>
	<p>
		<%= submit_tag 'Create' %>
	</p>
<% end -%>
