<tr>
	<td><%= game[1].creator %></td>
	<td><%= game[1].player.to_s.capitalize %></td>
	<td>
		<%= form_tag :action => 'join', :id => game[0] do -%>
			<%= submit_tag 'Join' %>
		<% end -%>
	</td>
</tr>
