<h1>qapk : La quête des aventures de Perceval et Karadoc lalala</h1>
<p>A boardgame inspired from the french TV series Kaamelott.</p>
<%= render :partial => 'list' %>
<%= render :partial => 'create' %>
